html, body {
  height: 100%;
}

.screen {
  display: none;
  height: 100%;
}

#start {
  background: red;
  color: white;
}

#players {
  background: blue;
  color: white;
}

#race {
  background: green;
  color: white;
}

.player {
  height: 50%;
  width: 0%;
  background: black;
}

#fullscreen {
  background: black;
  color: white;
  font-size: 72px;
}
