html, body {
  height: 100%;
  background: black;
  position: relative;
  font-family: Geometria;
}

.screen {
  display: none;
  height: 100%;
  position: relative;
}

#window {
  width: 1920px;
  height: 1080px;
  background: white;
}

#start {
  background: url("images/start.png") no-repeat top left;
  color: white;
}

#players {
  background: url("images/select.png") no-repeat top left;
  padding-top: 280px;
  color: white;
}

#players .container {
  width: 1605px;
  margin: 0 auto;
}

#players .hero {
  width: 321px;
  height: 640px;
  float: left;
  background: #eee;
  position: relative;
}

#players .hero.hero-1 {
  background: url("images/hero-1.png");
}

#players .hero.hero-1.selecting {
  background: url("images/hero-1-selecting.png");
}

#players .hero.hero-1.selected {
  background: url("images/hero-1-selected.png");
}

#players .hero.hero-2 {
  background: url("images/hero-2.png");
}

#players .hero.hero-2.selecting {
  background: url("images/hero-2-selecting.png");
}

#players .hero.hero-2.selected {
  background: url("images/hero-2-selected.png");
}

#players .hero.hero-3 {
  background: url("images/hero-3.png");
}

#players .hero.hero-3.selecting {
  background: url("images/hero-3-selecting.png");
}

#players .hero.hero-3.selected {
  background: url("images/hero-3-selected.png");
}

#players .hero.hero-3 {
  background: url("images/hero-3.png");
}

#players .hero.hero-3.selecting {
  background: url("images/hero-3-selecting.png");
}

#players .hero.hero-3.selected {
  background: url("images/hero-3-selected.png");
}

#players .hero.hero-4 {
  background: url("images/hero-4.png");
}

#players .hero.hero-4.selecting {
  background: url("images/hero-4-selecting.png");
}

#players .hero.hero-4.selected {
  background: url("images/hero-4-selected.png");
}

#players .hero.hero-5 {
  background: url("images/hero-5.png");
}

#players .hero.hero-5.selecting {
  background: url("images/hero-5-selecting.png");
}

#players .hero.hero-5.selected {
  background: url("images/hero-5-selected.png");
}

#players .hero.selecting:after, #players .hero.selected:after {
  content: "";
  width: 212px;
  height: 67px;
  position: absolute;
  bottom: -67px;
  left: 54px;
}

#players .hero.selecting.player-1:after {
  background: url("images/player-1-selecting.png");
}

#players .hero.selecting.player-2:after {
  background: url("images/player-2-selecting.png");
}

#players .hero.selected.player-1:after {
  background: url("images/player-1-selected.png");
}

#players .hero.selected.player-2:after {
  background: url("images/player-2-selected.png");
}

#starting {
  background: url("images/starting-vs.png") no-repeat top left;
}

#starting.starting-3 {
  background-image: url("images/starting-3.png");
}

#starting.starting-2 {
  background-image: url("images/starting-2.png");
}

#starting.starting-1 {
  background-image: url("images/starting-1.png");
}

#starting.starting-go {
  background-image: url("images/starting-go.png");
}

#starting .player-1, #starting .player-2 {
  font-size: 75px;
  font-weight: 800;
  text-align: center;
  position: absolute;
  left: 0;
  width: 100%;
}

#starting .player-1 {
  top: 155px;
}

#starting .player-2 {
  bottom: 155px;
}

#race {
  background: url("images/race.png") no-repeat left top;
}

#race .track {
  width: 1760px;
  margin-left: 30px;
}

#race .player {
  height: 430px;
  width: 280px;
  left: 0%;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
}

#race .player:first-child {
  top: 90px;
}

#race .player:last-child {
  bottom: 90px;
}

#race .player.hero-1.frame-1 {
  background-image: url("images/animation/hero-1-1.png");
}

#race .player.hero-1.frame-2 {
  background-image: url("images/animation/hero-1-2.png");
}

#race .player.hero-1.frame-3 {
  background-image: url("images/animation/hero-1-3.png");
}

#race .player.hero-1.frame-4 {
  background-image: url("images/animation/hero-1-4.png");
}

#race .player.hero-1.frame-5 {
  background-image: url("images/animation/hero-1-5.png");
}

#race .player.hero-1.frame-6 {
  background-image: url("images/animation/hero-1-6.png");
}

#race .player.hero-1.frame-7 {
  background-image: url("images/animation/hero-1-7.png");
}

#race .player.hero-1.frame-8 {
  background-image: url("images/animation/hero-1-8.png");
}

#race .player.hero-1.frame-9 {
  background-image: url("images/animation/hero-1-9.png");
}

#race .player.hero-1.frame-10 {
  background-image: url("images/animation/hero-1-10.png");
}

#race .player.hero-1.frame-11 {
  background-image: url("images/animation/hero-1-11.png");
}

#race .player.hero-1.frame-12 {
  background-image: url("images/animation/hero-1-12.png");
}

#race .player.hero-1.frame-13 {
  background-image: url("images/animation/hero-1-13.png");
}

#race .player.hero-1.frame-14 {
  background-image: url("images/animation/hero-1-14.png");
}

#race .player.hero-1.frame-15 {
  background-image: url("images/animation/hero-1-15.png");
}

#race .player.hero-1.frame-16 {
  background-image: url("images/animation/hero-1-16.png");
}

#race .player.hero-2.frame-1 {
  background-image: url("images/animation/hero-2-1.png");
}

#race .player.hero-2.frame-2 {
  background-image: url("images/animation/hero-2-2.png");
}

#race .player.hero-2.frame-3 {
  background-image: url("images/animation/hero-2-3.png");
}

#race .player.hero-2.frame-4 {
  background-image: url("images/animation/hero-2-4.png");
}

#race .player.hero-2.frame-5 {
  background-image: url("images/animation/hero-2-5.png");
}

#race .player.hero-2.frame-6 {
  background-image: url("images/animation/hero-2-6.png");
}

#race .player.hero-2.frame-7 {
  background-image: url("images/animation/hero-2-7.png");
}

#race .player.hero-2.frame-8 {
  background-image: url("images/animation/hero-2-8.png");
}

#race .player.hero-2.frame-9 {
  background-image: url("images/animation/hero-2-9.png");
}

#race .player.hero-2.frame-10 {
  background-image: url("images/animation/hero-2-10.png");
}

#race .player.hero-2.frame-11 {
  background-image: url("images/animation/hero-2-11.png");
}

#race .player.hero-2.frame-12 {
  background-image: url("images/animation/hero-2-12.png");
}

#race .player.hero-2.frame-13 {
  background-image: url("images/animation/hero-2-13.png");
}

#race .player.hero-2.frame-14 {
  background-image: url("images/animation/hero-2-14.png");
}

#race .player.hero-2.frame-15 {
  background-image: url("images/animation/hero-2-15.png");
}

#race .player.hero-2.frame-16 {
  background-image: url("images/animation/hero-2-16.png");
}


#race .player.hero-3.frame-1 {
  background-image: url("images/animation/hero-3-1.png");
}

#race .player.hero-3.frame-2 {
  background-image: url("images/animation/hero-3-2.png");
}

#race .player.hero-3.frame-3 {
  background-image: url("images/animation/hero-3-3.png");
}

#race .player.hero-3.frame-4 {
  background-image: url("images/animation/hero-3-4.png");
}

#race .player.hero-3.frame-5 {
  background-image: url("images/animation/hero-3-5.png");
}

#race .player.hero-3.frame-6 {
  background-image: url("images/animation/hero-3-6.png");
}

#race .player.hero-3.frame-7 {
  background-image: url("images/animation/hero-3-7.png");
}

#race .player.hero-3.frame-8 {
  background-image: url("images/animation/hero-3-8.png");
}

#race .player.hero-3.frame-9 {
  background-image: url("images/animation/hero-3-9.png");
}

#race .player.hero-3.frame-10 {
  background-image: url("images/animation/hero-3-10.png");
}

#race .player.hero-3.frame-11 {
  background-image: url("images/animation/hero-3-11.png");
}

#race .player.hero-3.frame-12 {
  background-image: url("images/animation/hero-3-12.png");
}

#race .player.hero-3.frame-13 {
  background-image: url("images/animation/hero-3-13.png");
}

#race .player.hero-3.frame-14 {
  background-image: url("images/animation/hero-3-14.png");
}

#race .player.hero-3.frame-15 {
  background-image: url("images/animation/hero-3-15.png");
}

#race .player.hero-3.frame-16 {
  background-image: url("images/animation/hero-3-16.png");
}


#race .player.hero-4.frame-1 {
  background-image: url("images/animation/hero-4-1.png");
}

#race .player.hero-4.frame-2 {
  background-image: url("images/animation/hero-4-2.png");
}

#race .player.hero-4.frame-3 {
  background-image: url("images/animation/hero-4-3.png");
}

#race .player.hero-4.frame-4 {
  background-image: url("images/animation/hero-4-4.png");
}

#race .player.hero-4.frame-5 {
  background-image: url("images/animation/hero-4-5.png");
}

#race .player.hero-4.frame-6 {
  background-image: url("images/animation/hero-4-6.png");
}

#race .player.hero-4.frame-7 {
  background-image: url("images/animation/hero-4-7.png");
}

#race .player.hero-4.frame-8 {
  background-image: url("images/animation/hero-4-8.png");
}

#race .player.hero-4.frame-9 {
  background-image: url("images/animation/hero-4-9.png");
}

#race .player.hero-4.frame-10 {
  background-image: url("images/animation/hero-4-10.png");
}

#race .player.hero-4.frame-11 {
  background-image: url("images/animation/hero-4-11.png");
}

#race .player.hero-4.frame-12 {
  background-image: url("images/animation/hero-4-12.png");
}

#race .player.hero-4.frame-13 {
  background-image: url("images/animation/hero-4-13.png");
}

#race .player.hero-4.frame-14 {
  background-image: url("images/animation/hero-4-14.png");
}

#race .player.hero-4.frame-15 {
  background-image: url("images/animation/hero-4-15.png");
}

#race .player.hero-4.frame-16 {
  background-image: url("images/animation/hero-4-16.png");
}


#race .player.hero-5.frame-1 {
  background-image: url("images/animation/hero-5-1.png");
}

#race .player.hero-5.frame-2 {
  background-image: url("images/animation/hero-5-2.png");
}

#race .player.hero-5.frame-3 {
  background-image: url("images/animation/hero-5-3.png");
}

#race .player.hero-5.frame-4 {
  background-image: url("images/animation/hero-5-4.png");
}

#race .player.hero-5.frame-5 {
  background-image: url("images/animation/hero-5-5.png");
}

#race .player.hero-5.frame-6 {
  background-image: url("images/animation/hero-5-6.png");
}

#race .player.hero-5.frame-7 {
  background-image: url("images/animation/hero-5-7.png");
}

#race .player.hero-5.frame-8 {
  background-image: url("images/animation/hero-5-8.png");
}

#race .player.hero-5.frame-9 {
  background-image: url("images/animation/hero-5-9.png");
}

#race .player.hero-5.frame-10 {
  background-image: url("images/animation/hero-5-10.png");
}

#race .player.hero-5.frame-11 {
  background-image: url("images/animation/hero-5-11.png");
}

#race .player.hero-5.frame-12 {
  background-image: url("images/animation/hero-5-12.png");
}

#race .player.hero-5.frame-13 {
  background-image: url("images/animation/hero-5-13.png");
}

#race .player.hero-5.frame-14 {
  background-image: url("images/animation/hero-5-14.png");
}

#race .player.hero-5.frame-15 {
  background-image: url("images/animation/hero-5-15.png");
}

#race .player.hero-5.frame-16 {
  background-image: url("images/animation/hero-5-16.png");
}

#result {
  background: url("") no-repeat left top;
}

#result.winner-1 {
  background-image: url("images/result-1-wins.png");
}

#result.winner-2 {
  background-image: url("images/result-2-wins.png");
}

#result.winner-3 {
  background-image: url("images/result-3-wins.png");
}

#result.winner-4 {
  background-image: url("images/result-4-wins.png");
}

#result.winner-5 {
  background-image: url("images/result-5-wins.png");
}

#fullscreen {
  background: black;
  color: white;
  font-size: 72px;
}
